body {
    background: url("https://sm.ign.com/t/ign_latam/screenshot/default/sayajin-horoscopos_q28g.1280.jpg");
}

.q1 {
    color: blue;
    font-size: 40px;
    background-color: white;
}

.q2 {
    color: blue;
    font-size: 40px;
    background-color: white;
}

p {
    color: blue;
    font-size: 40px;
    background-color: white;
}

.v {
    display: none;
}

.g {
    display: none;
}

.t {
    display: none;
}

.g2 {
    display: none;
}